#btn1{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: rgba(255,166,0);
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

#btn1:hover{
    background-color:  rgba(255,166,0);
    box-shadow: 0 0 5px rgba(255,166,0),
                0 0 20px rgba(255,166,0),
                0 0 60px rgba(255,166,0),
                0 0 150px rgba(255,166,0);
}