
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


#btn1 button{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: rgba(255,166,0);
    border: none;
    transition: 0.3s;
    cursor: pointer;  
    align-items: center;
    margin-left: 100px;
    margin-top: 70px;
    
}

#btn1 button:hover{
    background-color:  rgba(255,166,0);
    box-shadow: 0 0 5px rgba(255,166,0),
                0 0 20px rgba(255,166,0),
                0 0 60px rgba(255,166,0),
                0 0 150px rgba(255,166,0);
}

.card{
    background-color:whitesmoke;
}