{% extends 'base.html' %}
{% block title %} order summert  {% endblock%}

{% block body %}


<link rel="stylesheet" type="text/css" href="../static/order_summery.css" /> 

<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 mt-3">
       <div class="first d-flex justify-content-between align-items-center mb-3">
         <div class="info">
            <h2>Order Summery</h2>
             <span class="d-block name">Thank you, {{name}}</span>

             <span class="order">Order - {{order_id}}</span>
              
         </div>
        
          <img src="https://i.imgur.com/NiAVkEw.png" width="40"/>
           

       </div>
           <div class="detail">
            
       <span class="d-block summery">Your order has been dispatched. we are delivering you order.</span>
           </div>
           <div>
            {% for item in order_items %}
            <p>{{item.menu_item.name}}</p>
            <p>{{item.quantity}}</p>
            <p>{{item.price}}</p>
            {% endfor %}
           </div>
           <div>
            order total: ${{total}}
           </div>
           <a href="/home" id="btn1"> <button class="">Back to Home</button></a>

       
 </div>
 {% endblock %}