{% extends 'base.html' %}
{% block title %}sign_up{% endblock %}
{% block html_head %}
    <link rel="stylesheet" href="/static/signin.css">
{% endblock %}
  
{% block body %}
{% include "navbar.html" %}

  
	<link rel="stylesheet" href="../static/signup.css">
 
	<section class="form my-4 mx-5">
	  <div class="container">
		<div class="row no-gutters">
		  <div class="col-lg-5">
			<img src="../static/images/burger1.jpg" class="img-fluid" alt="">
		  </div>
		  <div class="col-lg-7 px-5 pt-5" >
			<form action="/users" method="POST">
			<h1 class="font-weight-bold py-3 text-dark">Sign up</h1>
			  <div class="form-row">
				<div class="col-lg-7">
				  <input type="name" placeholder="Name" class="form-control my-2 p-2">
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-lg-7">
				  <input type="email" placeholder="Email" class="form-control my-3 p-2">
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-lg-7">
				  <input type="password" placeholder="********" class="form-control my-3 p-2">
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-lg-7">
				  <input type="phone" placeholder="Phone" class="form-control my-3 p-2">
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-lg-7">
				  <input type="street" placeholder="Street" class="form-control my-3 p-2">
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-lg-7">
				  <input type="city" placeholder="City" class="form-control my-3 p-2">
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-lg-7">
				  <input type="zipcode" placeholder="Zipcode" class="form-control my-3 p-2">
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-lg-7">
				  <input type="state" placeholder="State" class="form-control my-3 p-2">
				</div>
			  </div>
			  <div class="form-row">
				<div class="col-lg-7">
				  <button type="button" class="btn1 mt-3 mb-5">Submit</button>
	
				</div>
	
			  </div>
			  
	
			</form>
	
	
		  </div>
	
	
	
		</div>
	
	  </div>
	
	</section>
	
	  
	{% endblock %} 
	
  
	 
	  